
body {

    background-color:white ;
    font-family: 'Roboto', sans-serif;
    margin: 0%;
    padding: 5px;
}

#logo {
    display: flex;
    height: 50px;
    width: 50px;


}

img.foto_elaine{
    height: 200px;
    width: 380px;
    max-width: min-content;
    position: relative;
    border: solid 5px cornflowerblue;
    padding: 10px;
    margin-left: 35%;
}

p {
    text-align:center;
    padding-left: 10px;
    padding-right: 10px;
}

header {
    font-family: 'Roboto', sans-serif;
    background-color:cornflowerblue;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: -5px;    
}

#habilidades {
    display: none;
}

div{
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    background-color:white;
    flex-direction: column;
   
}

#experiencia {
    flex-direction: column;
}

button {
    background-color:cornflowerblue ;
    border: solid 2px cornflowerblue;
    cursor: pointer;
    letter-spacing: 5px;
    font-family: 'Roboto', sans-serif;
    height: 30px;
    width: 100%;


}

#habilidades_div{
    padding-top: 10px;
    flex-direction: column;
}

p, ul{
    letter-spacing: 2px;
}

h2{
    border-color: cornflowerblue;
    border-style: solid;
    border-width: 5px;
    letter-spacing: 5px;
}

.general {
    margin-top: 10px;
}